
.footer{
    background-color: var(--color-black) !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    justify-content: space-between;
    padding: 0 20rem;
    color: var(--color-white);
}

.footer-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo{
    width: 100%;
    height: 100%;
}

.footer-link{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-white) !important;
    flex-basis:30%;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content i{
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 1rem;
    border-radius: 20%;
    margin-left:1rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    border: 1px solid transparent !important;
    color: inherit;
    border-bottom: 1px solid transparent;
}