
.custom-button{
    padding: 1rem 2rem;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 500;
    border: 2px solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.outlined {
    background-color: transparent;
    border: 2px solid var(--color-black);
    color: var(--color-black);
}

.outlined:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}

.over{
    width: 100%;
}